<div class="header">
  <div class="header-body">
    <h1 class="header-title">
      Sidebar
    </h1>
    <p class="header-subtitle">
      Sidebar can be used as additional navigation or content for app, it is fully responsive and have 3 states
      `hidden`, `collapsed` and `extended`. Each of those steps can be toggled manually as well as depending on screen
      size. Can be aligned to `left` or `right` using <code>context</code> parameter. Sidebar is interacting with
      `Utility Panel`, `Content Panel` and `Navigation Panel` throughout the `StoreModule`.
    </p>
  </div>
</div>
<div class="mb-3">
  <div class="mb-4">
    <h2 class="mb-2">Usage</h2>
    <p class="text-muted mb-2">
    </p>
    <div class="card">
      <div class="card-footer">
        <div>
          <tabset>
            <tab heading="html">
              <pre><code [highlight]="code11" [languages]="['html']" [lineNumbers]="true"></code></pre>
            </tab>
            <tab heading="component">
              <pre><code [highlight]="code12" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
