@import "components/brand";
@import "components/forms";
@import "components/tables";
@import "components/badges";
@import "components/buttons";
@import "components/lists";
@import "components/cards";
@import "components/avatars";
@import "components/sidebars";
@import "components/supplemental";
@import "components/navigation";
@import "components/nav";
@import "components/content";
@import "components/dropdowns";
@import "components/page-headers";
@import "components/tooltip";
@import "components/progress";
@import "components/carousel";

@import "fetures/user";
@import "fetures/notifications";

@each $color, $value in $theme-colors {
  .bg-#{$color}-soft {
    background-color: theme-color-level($color, $bg-soft-level) !important
  }
}

* {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: $primary;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

a {
  cursor: pointer;
}
