.sign-in-message {
    width: 90%;
    margin: auto;
    color: var(--aux-text);
    label {
        margin-top: 10px;
    }

}
.card-body {
    height: auto;
    color: var(--aux-text);
}
.loading-text {
    z-index: 2000;
    position: relative;
    color: var(--primary);
    background: transparent;
    left: 5px;
    right: 0;
    text-align: center;
    top: 60px;
}
.support-loader {
    height: 100vh;
    padding-top: 200px;
    margin:auto;
}
.scroll-loading{
    margin:auto;
    position: relative;
    top: 50px;
    background: transparent !important;
}
.aux-ticket-title{
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 45px;
}
.aux-support{
    ::ng-deep.bs-tooltip-bottom{
        top: 20px !important;
       .arrow:before{
           border-top-color: var(--primary);;
       }
   }
   ::-webkit-scrollbar-thumb {
       background: var(--primary);
   }

    .aux-card{
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    .file-upload{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .file-info{
            max-width: 250px;
        }
    }
    .card-date{
      padding-right: 0;
    }
    .btn-lg{
      height: 50px !important;
    }
    .font-weight-bold{
      font-weight: 900 !important;
    }
  .aux-support-file-upload{
      width: 100%;
      padding: 8px;
      cursor: pointer;
    }
  .aux-ticket-message{
      .form-control{
          margin: 0 !important;
        }
      .aux-support-card{
          padding-left: 0 !important;
        }
      max-height: 300px;
      position: fixed;
      bottom: 0px;
      max-width: 496px;
      display: flex;
      background-color: var(--secondary);
      width: 100%;
      flex-direction: column;
      border-top: 1px solid var(--primary);
      div {
          background: var(--aux-background);
      }
    }
    .aux-ticket-container {
        height: calc(100% - 60px);
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        .aux-ticket-header {
            background: var(--aux-header);
            color: var(--aux-text);
            font-weight: 700;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
            span { line-height: 50px; }
            i { cursor: pointer; }
            .navlink i{
                font-size: 20px;
            }
        }
        .aux-message-container {
            color: var(--primary);
            font-size: 1rem;
            padding-top: 10px;
            padding-right: 10px;
            height: 100%;
        }
        .aux-message-list {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 60vh;;
            overflow-y: scroll;
            .thubmnail {
                height: auto;
                border: 5px dotted var(--primary);
            }
        }
       .aux-ticket-list {
            position: absolute;
            width: 100%;
            color: var(--aux-text);  
            font-size: 1rem; 
            padding-top: 10px;
            padding-right: 10px;
            flex-direction: column;
            height: 90vh;
            overflow: auto;
            .aux-ticket-list-header {
                padding: 0 10px;
                width: 100%;
                justify-content: space-between;
                display: flex;
                flex-direction: row;
                button { width: 200px }
                .custom { width: 200px;height: 40px !important; }
            }

            .aux-ticket-list-wrapper {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                height: 80vh;
                .aux-ticket {
                    cursor: pointer;
                    .aux-ticket-card {
                        // background: var(--secondary);
                        background: var(--aux-card-background);
                        margin-bottom: 10px;
                        margin-right: 20px;
                        margin-left: 20px;
                        padding: 5px;
                        min-height: 150px;
                        transition: 0.1s;
                        border: 2px solid var(--primary);
                        &:hover {
                            transform: scale(1.01, 1.01);
                        }
                    }
                    .aux-ticket-card-header {
                        display: flex;
                        margin-left: 15px;
                        align-items: center;
                        color: var(--primary);
                        justify-content: space-between;
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 10px;
                        margin-top: 10px;

                        .btn {
                            padding: 3px 10px;
                        }
                        i { font-size: 1.1rem; margin-right: 15px;
                            ;
                       }
                    }
                    .aux-ticket-card-body {
                        font-size: 1rem;
                        margin-left: 16px;
                        color: var(--secondary);

                        .aux-ticket-contact {
                            display: flex;
                            justify-content: space-between;
                            color: var(--gray);
                            font-size: 0.9rem;

                        }
                    }
                }
            }
        }
    }
}
