<div class="header">
  <div class="header-body">
    <h1 class="header-title">
      Support Panel
    </h1>
    <p class="header-subtitle">
      Support Panel feature to show support panel.
    </p>
  </div>
</div>
<div class="mb-3">
  <div class="mb-4">
    <h2 class="mb-2">Installation</h2>
    <p class="text-muted mb-2">
      Import support panel into you module
    </p>
    <div class="card">
      <div class="card-footer">
        <pre><code [highlight]="code1" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h2 class="mb-2">Support Icon</h2>
    <p class="text-muted mb-2">
      First thing you want to do is probably to display support icon.
    </p>
    <div class="card">
      <div class="card-body">
        <aux-support></aux-support>
      </div>
      <div class="card-footer">
        <pre><code [highlight]="code2" [languages]="['html']" [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </div>
</div>
