<div class="spinner-container">
  <div class="placeholder">
    <div class="list-group list-group-flush list-group-notifications">
      <div class="list-group-item d-flex justify-content-between align-items-center pr-0 pl-0">
        <div class="mr-1 w-100">
          <div class="placeholder-text-small linear-background w-75"></div>
          <div class="placeholder-text-small linear-background w-25"></div>
        </div>
        <button class="btn btn-secondary-icon btn-actions">
          <i class="far fa-ellipsis-v"></i>
        </button>
      </div>
      <div class="list-group-item d-flex justify-content-between align-items-center pr-0 pl-0">
        <div class="mr-1 w-100">
          <div class="placeholder-text-small linear-background w-75"></div>
          <div class="placeholder-text-small linear-background w-25"></div>
        </div>
        <button class="btn btn-secondary-icon btn-actions">
          <i class="far fa-ellipsis-v"></i>
        </button>
      </div>
    </div>
  </div>
</div>
