<div class="header">
  <div class="header-body">
    <h1 class="header-title">
      Layout
    </h1>
    <p class="header-subtitle">
      Layout can be built using various schematics using `panels`.
      There are 4 panels available: `aux-content`, `aux-sidebar`, `aux-utility-panel`, `aux-navigation-panel`.
    </p>
  </div>
</div>
<div class="mb-3">
  <div class="mb-4">
    <h2 class="mb-2">Installation</h2>
    <p class="text-muted mb-2">
      First Import PanelsModule.
    </p>
    <div class="card">
      <div class="card-footer">
        <pre><code [highlight]="code1" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h2 class="mb-2">Examples</h2>
    <p class="text-muted mb-2">
      Layout with top navigator and content panel.
    </p>
    <div class="card">
      <div class="card-footer">
        <pre><code [highlight]="code2" [languages]="['html']" [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </div>
</div>
