<div class="header">
  <div class="header-body">
    <h1 class="header-title">
      Carousel
    </h1>
    <p class="header-subtitle">
      A slideshow component for cycling through elements—images or slides of text—like a carousel. Please
      read the <a target="_blank" href="https://getbootstrap.com/docs/4.5/components/carousel/">official Bootstrap
      documentation</a> and <a target="_blank" href="https://getbootstrap.com/docs/4.5/components/carousel/">official
      ngx-bootstrap documentation</a> for a full list of options.
    </p>
  </div>
</div>
<div class="mb-3">
  <div class="mb-4">
    <div class="card">
      <div class="card-body">
        <carousel [isAnimated]="true">
          <slide>
            <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
